/* Header */

header{
	position: relative;
	background-color: grey;
	height: 100px;
	width: 100%;
}

/* END Header */
/* Body */

body{
	margin: 0;
}

.menu-container{
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
}

.menu-item{
	background-color: grey;
	height: 400px;
	width: 300px;
	margin: 50px;
	
}

/* END Body */
/* Footer */

/* END Footer */
