body {
	margin: 0px;
	font-family: 'Lato', sans-serif;
}

h1, h2, p {
	font-family: 'Roboto', sans-serif;
}

a{
	
	color: black;
	text-decoration: none;
}

#topButton {
	display: none;
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 50px;
	height: 50px;
	padding: 8px;
	cursor: pointer;
	box-shadow: 0px 2px 10px 0px grey;
	border-radius: 50%;	
	background-color: #fefefe;
	-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#topButton img {
	width: 100%;
	height: 100%;
}

/* LANDINGPAGE */

.image-container {
	background-image: url("../img/backgroundimage3.png");
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.down-arrow {
	margin: 0 auto;
	background-color: rgba(250,250,250,0.8);
	border-radius: 50%;
	margin-bottom: 20px;
	width: 60px;
	height: 60px;
	padding: 10px;
	cursor: pointer;
}

.down-arrow img {
	height: 100%;
}

.down-arrow:hover {
	background-color: rgba(200,200,200,0.8);
}

/* NAVIGATION */

.main-nav {
	width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0, 0.4);
}

.main-nav ul {
	display: flex;
    width: 50%;
    justify-content: space-around;
    color: #fefefe;
}

.main-nav ul li {
	list-style-type: none;
	cursor: pointer;
}

.main-nav ul li a{
	text-decoration: none;
	color: #fefefe;
}

/* OPTREDEN */

.optreden-container{
	width: 100%;
	padding: 5vh;
	background-color: #fefefe;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.optreden-container h1{
	text-align: center;
	color: #800000;
	width: 100%;
	margin: 0;
	font-size: 50px;
}

.optreden-sub-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.optreden-infobox{
	width: 50%;
	padding: 10px;
	box-sizing: border-box;	
}

.optreden-recent{
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid #800000;
}

.optreden-recent h2{
	margin: 0;
}

.optreden-recent p{
	text-align: center;
}

.optreden-recent-left{
	padding: 20px;
	text-align: center;
	background-color: #fdeeee;
	height: 100%;
	min-width: 180px;
	border-radius: 10px;
}

.optreden-recent-left h1{
	color: #800000;
	font-size: 220%;
}

.optreden-recent-left h2{
	color: #800000;
	font-size: 160%;
}

.optreden-recent-right{
}

.optreden-recent-right h2{
	color: #800000;
	margin: 5px;
	margin-bottom: 10px;
}

.optreden-recent-right h3{
	font-size: 100%;
	color: #800000;
	margin: 5px;
}

.optreden-recent-right p{
	text-align: left;
	margin: 5px;
}

.optreden{
	display: flex;
	align-items: center;
	height: auto;
	margin: 10px;
	margin-left: 40px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid #800000;
	border-radius: 10px;
}

.optreden-left{
	text-align: center;
	background-color: #fdeeee;
	height: 100%;
	min-width: 150px;
	border-radius: 10px;
}

.optreden-left h1{
	font-size: 160%;
	margin: 0;
	color: #800000;
}

.optreden-left h2{
	font-size: 120%;
	margin: 0;
	color: #800000;
}

.optreden-right h2{
	font-size: 120%;
	color: #800000;
	margin: 5px;
	margin-bottom: 10px;
}

.optreden-right h3{
	font-size: 80%;
	color: #800000;
	margin: 5px;
}

.optreden-right p{
	font-size: 80%;
	text-align: left;
	margin: 5px;
}

/*
.optreden-scrollbox{
	width: 100%;
	max-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 2px solid #800000;
}

.optreden{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	height: 100px;
	background-color: grey;
}

.optreden-infobox-right{
	width: 50%;
	height: 200px;
	background-color: blue;
} 
*/

/* ABOUT */

.about-container {
	width: 100%;
	padding: 5vh;
	background-color: #800000;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.about-container h1{
	text-align: center;
	color: #FEFEFE;
	width: 100%;
	margin: 0;
	font-size: 50px;
}

.about-sub-container{
	display: flex;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
	box-sizing: border-box;
}

.about-left{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 50px;
	width: 50%;
	letter-spacing: 1px;
}

.about-left p{
	color: #FEFEFE;
	margin-bottom: 10px;
}

.about-right{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}

/* MUZIEK */

.muziek-container {
	width: 100%;
	padding: 5vh;
	background-color: #FEFEFE;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.muziek-container h1{
	text-align: center;
	color: #800000;
	width: 100%;
	font-size: 50px;
	margin: 0;
}

.muziek-sub-container {
	display: flex;
	width: 100%;
}

.album-container {
	width: 75%;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	font-size: 20px;
}

.album-container h2 {
	margin: 10px;
}

.album {
	margin: 10px;
	display: flex;
	flex-direction: row;
}

.album-content {
	
}

.album-content h3{
	padding-left: 40px;
	margin: 0px 0px 10px 0px;
}

.album-content ul{
	margin: 0px;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-size: 20px;
}

.album-content ul li{
	list-style-type: none;
	margin: 0px;
}

.album-content ul li a{
	text-decoration: none;
	color: #161616;
}

.album-content a:hover{
	text-decoration: underline;
}

.single-content a:hover{
	text-decoration: underline;
}

.album img {
	height: 280px
}

.single {
	margin: 10px;
	width: 50%;
	display: flex;
	flex-direction: row;
}

.single-content {
	padding-left: 40px;
}

.single-content p {
	margin: 0px;
}

.single img {
	height: 280px;
}

.spotify-container {
	display: flex;
	flex-direction: column;
    justify-content: space-around;
	align-items: center;
	width: 40%;
}

/* NEWS */

.news-container{
	justify-content: center;
	width: 100%;
	background-color: #800000;
	display: flex;
	flex-wrap: wrap;
	padding: 5vh;
	box-sizing: border-box;
}

.news-container h1{
	text-align: center;
	color: #FEFEFE;
	width: 100%;
	height: 50px;	
	margin-top: 0;
	margin-bottom: 0;
	font-size: 50px;
}

.news-container-a {
	text-align: center;
	color: #FEFEFE;
	width: 100%;
}

.news-article-item{
	width: 450px;
	height: 600px;
	background-color: #FEFEFE;
	border: 1px solid #111111;
	margin: 2vh;
}

.news-article-item h2, p{
	margin: 0;
}

.news-article-item-img{
	width: 100%;
	height: 400px;
	box-sizing: border-box;
}

.news-article-item-img img{
	width: 100%;
	height: 100%;
}

.news-article-item-txt{
	width: 100%;
	height: 150px;
	overflow: hidden;
	padding: 10px;
	box-sizing: border-box;
}

.news-article-item-link{
	width: 100%;
	height: 50px;
	overflow: hidden;
	padding: 10px;
	box-sizing: border-box;
}

.news-article-item-link-href{
	text-decoration: none;
}

.news-page-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #800000;
	height: 100px;
	margin-bottom: 20px;
}

.news-page-header h2{
	color: white;
	margin: 20px;
}

.news-page-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
}

.news-page{
	text-align: center;
}

.news-page-img{
	height: 500px;
}

/* CONTACT */

.contact-container{
	width: 100%;
	background-color: #FEFEFE;
	flex-direction: column;
	
}

.contact-container h1{
	text-align: center;
	color: #800000;
	width: 100%;
	margin-top: 2vh;
	font-size: 50px;
}

.contact-container-box{
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding-left: 200px;
	padding-right: 200px;
	box-sizing: border-box;
}

.contact-box{
	display: flex;
	background-color: #fdeeee;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
	width: 300px;
	height: 300px;
	border: 5px solid #800000;
	border-radius: 100%;
}

.contact-box h2{
	text-align: center;
	color: #800000;
}

.contact-box-img{
	height: 100px;
}

/*
.contact-info{
	margin: 20px;
	width: 500px;
	height: 500px;
	border: 5px solid #800000;
	border-radius: 20px;
}
*/

/* Footer */
.footer{
	
}